{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1>Here are your users:</h1>
        <div>
            {% if users %}
                <ol>
                    {% for user in users %}
                        <li>
                            <strong>User Info</strong>
                            <ul>
                                <li>First Name: {{ user.first_name }}</li>
                                <li>Last Name: {{ user.last_name }}</li>
                                <li>Email: {{ user.email }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No users available</p>
            {% endif %}
        </div>
    </body>
</html>